@use './mixins.scss';

.btn {
  cursor: pointer;
  @include mixins.flex-box('', center, center);
  outline: none;
  padding: 20px;
}

.app {
  @include mixins.flex-box(column, center, center);
  width: 100%;
  height: 100vh;
}

.title {
  text-align: center;
}